.menu-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 4rem;
  background-color: darken($mainBgColor, 4);
  color: $mainFontColor;
  align-items: center;
  justify-content: center;
}
