.moments-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-block: 6%;

  width: 70%;

  h2 {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

.moments-content-instagram-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  gap: 10px;

  border-radius: 50%;
  background-color: darken(white, 10);

  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(white, 15);
    cursor: pointer;
  }

  p {
    font-size: 150%;
    font-family: $secondaryFont;
    margin: 0;
  }
}

.moments-content-container .light-gallery-container {
  max-width: 900px;
  margin-bottom: 1rem;
}

.moments-content-container .light-gallery-container a {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: 10px;
}

.moments-content-container .light-gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.4s;

  &:hover {
    opacity: 0.85;
  }
}
