.gallery-content-container {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  padding-inline: 10%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    padding-inline: 1rem;
  }
}

.gallery-content-albums-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;

  row-gap: 2rem;
  column-gap: 5%;

  @media (max-width: 384px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
