.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $headerBgColor;
  height: fit-content;
  padding-block: 0.6rem;
  color: $secondaryFontColor;
  cursor: pointer;
}

.header-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  .header-title {
    font-size: 90%;
    font-weight: 500;
  }

  .header-icon {
    height: 40px;
  }
}
