.header-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $headerBgColor;
  height: fit-content;
  padding-block: 0.6rem;
  color: $secondaryFontColor;

  @media (max-width: 768px) {
    justify-content: space-between;
    padding-inline: 1rem;
    padding-block: 1rem;
  }
}

.header-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;

  .header-title {
    font-size: 90%;
    font-weight: 500;
  }

  .header-icon {
    height: 40px;
  }

  @media (max-width: 768px) {
    flex-direction: row-reverse;

    .header-icon {
      height: 30px;
    }
  }
}

.header-menu-container {
  display: flex;
  cursor: pointer;

  .header-menu-icon {
    height: 26px;
    filter: brightness(0) invert(1);
  }
}
