.content-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  justify-content: space-between;
}

.content-container {
  display: flex;
  flex-direction: column;
  background-color: $mainBgColor;
  color: $mainFontColor;
  align-items: center;
  margin-inline: 10rem;
  flex-grow: 1;

  @media (max-width: 768px) {
    margin-inline: 2rem;
  }
}
