.content-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  background-color: $mainBgColor;
  color: $mainFontColor;
  margin-top: 2rem;
  align-items: center;
  margin-inline: 14rem;
}
