.content-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  background-color: $mainBgColor;
  color: $mainFontColor;
  margin-top: 1.5rem;
  align-items: center;
  margin-inline: 10rem;

  @media (max-width: 768px) {
    margin-inline: 2rem;
  }
}
