.content-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  justify-content: space-between;
}

.content-container {
  display: flex;
  flex-direction: column;
  background-color: $mainBgColor;
  color: $mainFontColor;
  align-items: center;
  margin-inline: 10rem;

  @media (max-width: 768px) {
    margin-inline: 2rem;
  }
}

.content-page-memories {
  width: 100vw;
  background-color: darken($mainBgColor, 4);
  // box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}
