.back-button-container {
  height: fit-content;
  width: fit-content;

  button {
    background-color: $backButtonBgColor;

    &:hover {
      cursor: pointer;
      background-color: lighten($backButtonBgColor, 10);
    }
  }
}
