.scroll-to-top-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;

  .scroll-to-top-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: darken($btnColor, 10);
    color: #fff;

    font-size: 2rem;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;

    padding: 0;

    cursor: pointer;

    transition:
      opacity 0.3s ease,
      background-color 0.3s ease;
    opacity: 0.7;

    opacity: 0; // Initially hidden
    transition:
      opacity 0.5s ease-in-out,
      visibility 0.5s ease-in-out,
      background-color 0.3s ease;
    visibility: hidden;

    img {
      height: 26px;
      filter: brightness(0) invert(1);
    }

    &:hover {
      background-color: lighten($btnColor, 0);
    }

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
}
