.add-memory-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100%;
  margin-block: 2rem;
  align-items: center;
  gap: 1rem;

  .add-memory-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    width: 100%;

    input,
    textarea {
      font-family: $mainFont;
      font-size: 0.9 * $mainFontSize;
      color: $mainFontColor;
      background-color: darken($mainBgColor, 10);
      border-radius: 5px;
      padding-inline: 14px;
      padding-block: 10px;
      margin: 0;
      width: 100%;
      border-color: rgb(133, 133, 133);
      border-width: 1px;
      box-sizing: border-box;
    }

    textarea {
      resize: none;
      min-height: 60px;
      max-height: 1000px;
      width: 100%;
    }

    .add-memory-form-names-container {
      display: flex;
      width: 100%;
      gap: 20px;
    }

    .add-memory-form-message-container {
      width: 100%;
    }
  }
}
