.add-memory-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100%;
  margin-block: 2rem;
  align-items: center;
  gap: 1rem;

  .add-memory-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    width: 100%;

    input,
    textarea {
      font-family: $mainFont;
      font-size: 0.9 * $mainFontSize;
      color: $mainFontColor;
      background-color: darken($mainBgColor, 10);
      border-radius: 5px;
      padding-inline: 14px;
      padding-block: 10px;
      margin: 0;
      width: 100%;
      border-color: rgb(133, 133, 133);
      border-width: 1px;
      box-sizing: border-box;
    }

    textarea {
      resize: none;
      min-height: 60px;
      width: 100%;
    }

    .add-memory-form-names-container {
      display: flex;
      width: 100%;
      gap: 20px;
    }

    .add-memory-form-relation-container {
      position: relative;
      display: flex;
      gap: 2rem;
      justify-content: center;
      font-weight: 400;
    }

    h3 {
      top: 50%; /* Position it 50% from the top */
      transform: translateY(-50%); /* Center it vertically */
      right: 0;
      margin: 0;
      position: absolute;
    }

    select {
      padding: 5px;
    }

    #category-select {
      margin-right: 10px;
    }

    #relation-select {
      margin-right: 10px;
    }
    @media (max-width: 768px) {
      h3 {
        position: relative;
      }
    }

    .add-memory-form-message-container {
      position: relative;
      width: 100%;

      .add-memory-form-message-textarea {
        position: relative;
      }

      .add-memory-form-message-textarea-counter {
        position: absolute;
        bottom: 10px;
        left: 14px;
        font-size: 0.8rem;
        color: gray;
        text-align: right;
        pointer-events: none;
      }
    }

    .add-memory-form-submit-container {
      display: flex;
      justify-content: center;

      button {
        font-size: $mainFontSize;
        padding-block: 10px;
        padding-inline: 100px;
      }
    }

    .hidden {
      visibility: hidden;
    }
  }
}
