.full-memory-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;

  background-color: darken($mainBgColor, 1);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);

  padding-block: 20px;
  padding-inline: 30px;
  border-radius: 8px;
  text-align: center;
}

.full-memory {
  &__icon {
    display: block;
    height: 60px;
  }

  &__name {
    margin: 0;
    font-size: 120%;
    font-weight: 600;
  }

  &__relation {
    margin: 0;
    font-size: 100%;
    font-weight: 600;
    color: $heighligtFontColor;
  }

  &__message {
    margin: 0;
    margin-top: 1rem;
    height: 200px;
    width: 90%;
    font-size: $mainFontSize;
  }

  &__pictures {
    margin: 0;
  }
}

.memory-item-container button {
  cursor: pointer;
  padding-inline: 20px;
  padding-block: 6px;
}
