.memories-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 100%;
  flex-grow: 1;

  padding-top: 1.5rem;
  padding-bottom: 5rem;
  background-color: darken($mainBgColor, 4);

  h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
}

.memories-content-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding-inline: 6%;
  width: auto;
  height: 100%;

  @media (max-width: 896px) {
    grid-template-columns: repeat(2, 1fr);
  }

  // For screen sizes 768px or lower, switch to one column
  @media (max-width: 768px) {
    grid-template-columns: 1fr; // Change to 1 column
  }
}

.memories-content-add-memory-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  button {
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 100%;
    font-weight: 500;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}
