.memories-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  h2 {
    display: flex;
    justify-content: center;
  }
}

.memories-content-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  width: 100%;
  height: 100%;
}
