.memory-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  background-color: darken($mainBgColor, 1);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);

  padding-block: 20px;
  padding-inline: 30px;
  border-radius: 8px;
  text-align: center;
}

.memory-item {
  &__icon {
    display: block;
    height: 60px;
  }

  &__name {
    margin: 0;
    font-size: 100%;
    font-weight: 400;
  }

  &__relation {
    margin: 0;
    font-size: 120%;
    font-weight: 500;
    color: $heighligtFontColor;
  }

  &__message {
    margin: 0;
    margin-top: 1rem;
    height: 200px;
    font-size: 14px;
  }
}

.memory-item-container button {
  cursor: pointer;
  padding-inline: 20px;
  padding-block: 6px;
}
