.eulogy-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  background-color: darken($mainBgColor, 1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

  padding-block: 1rem;
  padding-inline: 1.5rem;
  border-radius: 8px;
  text-align: center;
}

.eulogy-item {
  &__name {
    margin: 0;
    font-size: 140%;
    font-weight: 400;
  }

  &__relation {
    margin: 0;
    font-size: 120%;
    font-weight: 500;
    color: $highlightFontColor;
  }

  &__message {
    margin: 0;
    margin-block: 0.5rem;
    height: 200px;
    font-size: 14px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    line-clamp: 8;
    -webkit-box-orient: vertical;
  }
}

.eulogy-item-container button {
  cursor: pointer;
  padding-inline: 20px;
  padding-block: 6px;
}
