.eulogies-content-container {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  min-height: 400px;
  flex-grow: 1;

  padding-top: 1.5rem;
  padding-bottom: 5rem;
  background-color: darken($mainBgColor, 4);

  h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
}

.eulogies-content-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  padding-inline: 6%;
  width: auto;
  height: 100%;

  // For screen sizes 768px or lower, switch to one column
  @media (max-width: 768px) {
    grid-template-columns: 1fr; // Change to 1 column
  }
}
