.instagram-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-block: 6%;

  width: 70%;
  height: auto;

  h2 {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}
