.main-page-container {
  display: grid;
  grid-template-areas:
    'header header'
    'main sidebar'
    'footer footer';
  grid-template-columns: auto 16vw;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  height: 100vh;
  width: 80vw;

  // Define grid areas for individual components
  .header-container {
    grid-area: header;
  }

  .sidebar-container {
    grid-area: sidebar;
  }

  .main-page-container {
    grid-area: main;
  }

  .footer-container {
    grid-area: footer;
  }
}

@media screen and (max-width: 768px) {
  .main-page-container {
    grid-template-areas:
      'header'
      'sidebar'
      'main'
      'footer';
    grid-template-columns: 1fr; // Stack everything in a single column
    grid-template-rows: auto; // Auto rows to adapt to content size
  }
}
