.main-content-container {
  height: 100%;
  width: 100%;
  margin-top: 2rem;

  .main-content-sentence-title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
  }

  .main-content-years-title {
    display: flex;
    justify-content: center;
    font-size: 180%;
    margin: 1rem;
  }

  .main-content-life-story {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-inline: 4rem;
    align-items: center;
    gap: 1rem;
    margin-bottom: 6rem;

    h2 {
      font-size: 150%;
      margin: 0;
    }
    p {
      font-size: 100%;
      margin: 0;
      text-align: center;
    }

    @media (max-width: 1024px) {
      margin-inline: 1rem;
    }
  }

  .main-content-facebook-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 6rem;
  }
}
