.main-content-container {
  height: 100%;
  width: 100%;
  margin-top: 2rem;

  .main-content-sentence-title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
  }

  .main-content-years-title {
    display: flex;
    justify-content: center;
    font-size: 180%;
    margin: 1rem;
  }

  .main-content-remembering-section {
    display: flex;
    flex-direction: column;
    background-color: darken($mainBgColor, 4);
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    padding: 2rem;
    margin-top: 2rem;
    gap: 1rem;

    h1 {
      font-size: 120%;
      font-weight: 400;
      margin: 0;
    }

    h2 {
      font-size: 120%;
      font-weight: 800;
      margin: 0;
    }
  }

  .main-content-life-story {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-inline: 4rem;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;

    h2 {
      font-size: 150%;
      margin: 0;
    }
    p {
      font-size: 100%;
      margin: 0;
      text-align: center;
    }

    @media (max-width: 1024px) {
      margin-inline: 1rem;
    }
  }
}
