.slideshow-container {
  width: 100%;
  height: auto;
  overflow: hidden;

  .each-slide {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
  }

  .each-slide > div {
    width: 75%;
  }

  .each-slide > img {
    width: 100%;
    object-fit: cover;
  }
}
