/* Global Variables to use throughout the various SCSS files of the project */

// ** Fonts **
$mainFont: 'Wix Madefor Display', sans-serif;
$secondaryFont: 'Unica One', sans-serif;
$errorFont: 'Arvo', serif;

// ** Font Sizes **
$mainFontSize: 14px;
$FeedMessageSize: 18px;

// ** Main Colors **
$errorColor: rgb(117, 26, 26);

// ** Font Colors **
$mainFontColor: black;
$secondaryFontColor: white;

// ** Background Colors **
$mainBgColor: #242424;
$secondaryBgColor: white;
$headerBgColor: rgb(1, 38, 55);

// ** Components Colors **

// ** Components Settings **
$profileBoxPadding: 16px;
