/* Global Variables to use throughout the various SCSS files of the project */

// ** Fonts **
$mainFont: 'almoni-neue', sans-serif;
$secondaryFont: 'Unica One', sans-serif;
$errorFont: 'Arvo', serif;

// ** Font Sizes **
$mainFontSize: 16px;
$menuFontSize: 16px;
$FeedMessageSize: 18px;

// ** Main Colors **
$errorColor: rgb(117, 26, 26);
$btnColor: #6b6b6b;

// ** Font Colors **
$mainFontColor: black;
$secondaryFontColor: white;
$heighligtFontColor: rgb(23, 100, 97);

// ** Background Colors **
$mainBgColor: white;
$headerBgColor: rgb(0, 16, 23);

// ** Components Colors **

// ** Components Settings **
$profileBoxPadding: 16px;
