/* Global Variables to use throughout the various SCSS files of the project */

// ** Fonts **
$mainFont: 'Heebo', sans-serif;
$secondaryFont: 'Unica One', sans-serif;
$errorFont: 'Arvo', serif;

// ** Font Sizes **
$mainFontSize: 16px;
$menuFontSize: 16px;
$FeedMessageSize: 18px;

// ** Main Colors **
$errorColor: rgb(117, 26, 26);

// ** Font Colors **
$mainFontColor: black;
$secondaryFontColor: white;
$highlightFontColor: rgb(23, 100, 97);
$errorFontColor: red;

// ** Background Colors **
$mainBgColor: #ffffff; // Off White: #faf9f6, Ghost White: #f8f8ff
$seconaryBgColor: darken($mainBgColor, 4);
$headerBgColor: rgb(0, 16, 23);

// ** Components Colors **
$backButtonBgColor: rgb(226, 62, 62);

// ** Button Colors **
$btnColor: #6b6b6b;
$greenBtnColor: #28a745;
$redBtnColor: #e73939;

// ** Components Settings **
$profileBoxPadding: 16px;
