/** Setup **/
@import 'setup/variables';
@import 'setup/typography';
@import 'setup/base';

/** Global **/
@import 'cmps/global/ScrollToTop';
@import 'cmps/global/GoBackButton';
@import 'cmps/global/Loader';

/** Popup **/
@import 'cmps/popup/Popup';

/** Header **/
@import 'cmps/header/Header';

/** Menu **/
@import 'cmps/menu/Menu';

/** Footer **/
@import 'cmps/footer/Footer';

/** Content Not Found **/
@import 'cmps/content/content-not-found/ContentNotFound';

/** Main Content **/
@import 'cmps/content/main-content/RememberingSection';
@import 'cmps/content/main-content/Slideshow';
@import 'cmps/content/main-content/MainContent';

/** Instagram Content **/
@import 'cmps/content/instagram-content/InstagramContent';

/** Memories Content **/
@import 'cmps/content/memories-content/FullMemoryContent';
@import 'cmps/content/memories-content/AddMemoryForm';
@import 'cmps/content/memories-content/MemoriesContent';
@import 'cmps/content/memories-content/MemoryItem';

/** Gallery Content **/
@import 'cmps/content/gallery-content/Album';
@import 'cmps/content/gallery-content/GalleryAlbum';
@import 'cmps/content/gallery-content/Gallery';

/** Content Page **/
@import 'pages/content-page/ContentPage';
