/** Setup **/
@import 'setup/variables';
@import 'setup/typography';
@import 'setup/base';

/** Header **/
@import 'cmps/header/Header';

/** Menu **/
@import 'cmps/menu/Menu';

/** Footer **/
@import 'cmps/footer/Footer';

/** Main Content **/
@import 'cmps/content/main-content/Slideshow';
@import 'cmps/content/main-content/MainContent';

/** Memories Content **/
@import 'cmps/content/memories-content/MemoriesContent';
@import 'cmps/content/memories-content/MemoryItem';

/** Content Page **/
@import 'pages/content-page/ContentPage';
